name: CI

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:

jobs:
  build:
    name: Build with Gradle
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # 0 indicates all history for all branches and tags.
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.3.0'

      - name: Build with Gradle
        run: |
          gradle clean build --no-daemon --console=plain
          echo "VERSION=$(gradle properties --no-daemon --console=plain -q | grep "^version:" | awk '{printf $2}')" >> $GITHUB_ENV
          echo "SHORT_SHA=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_ENV

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: EzChestShopReborn-${{ env.VERSION }}
          path: |
            paper-plugin/build/libs/EzChestShopReborn-${{ env.VERSION }}.jar

      - name: Publish to Discord
        if: github.repository == 'nouish/EzChestShop' && github.ref == 'refs/heads/main' && contains(env.VERSION, '-dev')
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          curl -X POST \
          -F "payload_json={\"content\": \"**Build Artifact:** ${{ env.VERSION }} (\`${{ env.SHORT_SHA }}\`)\"}" \
          -F "file=@paper-plugin/build/libs/EzChestShopReborn-${{ env.VERSION }}.jar" \
          "$DISCORD_WEBHOOK_URL"
