name: CI

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:

jobs:
  build:
    name: Build with Maven
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache local Maven repository
        id: cache-maven
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Download Spigot Buildtools
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: |
          mkdir ~/spigot-buildtools
          cd ~/spigot-buildtools
          wget https://hub.spigotmc.org/jenkins/job/BuildTools/lastSuccessfulBuild/artifact/target/BuildTools.jar

      - name: Setup JDK 8
        uses: actions/setup-java@v4
        if: steps.cache-maven.outputs.cache-hit != 'true'
        with:
          java-version: 8
          distribution: temurin

      - name: Install Spigot 1.16.5
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.16.5-R0.1-SNAPSHOT/spigot-1.16.5-R0.1-SNAPSHOT.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.16.5; fi

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        if: steps.cache-maven.outputs.cache-hit != 'true'
        with:
          java-version: 17
          distribution: temurin

      - name: Install Spigot 1.17.1
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.17.1-R0.1-SNAPSHOT/spigot-1.17.1-R0.1-SNAPSHOT.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.17.1; fi

      - name: Install Spigot 1.18.2
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.18.2-R0.1-SNAPSHOT/spigot-1.18.2-R0.1-SNAPSHOT.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.18.2; fi

      - name: Install Spigot 1.19.4
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.19.4-R0.1-SNAPSHOT/spigot-1.19.4-R0.1-SNAPSHOT.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.19.4; fi

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Install Spigot 1.20.4
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.20.4-R0.1-SNAPSHOT/spigot-1.20.4-R0.1-SNAPSHOT-remapped-mojang.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.20.4 --remapped; fi

      - name: Install Spigot 1.20.6
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.20.6-R0.1-SNAPSHOT/spigot-1.20.6-R0.1-SNAPSHOT-remapped-mojang.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.20.6 --remapped; fi

      - name: Install Spigot 1.21.1
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.21.1-R0.1-SNAPSHOT/spigot-1.21.1-R0.1-SNAPSHOT-remapped-mojang.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.21.1 --remapped; fi

      - name: Install Spigot 1.21.3
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.21.3-R0.1-SNAPSHOT/spigot-1.21.3-R0.1-SNAPSHOT-remapped-mojang.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.21.3 --remapped; fi

      - name: Install Spigot 1.21.4
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: if [ ! -f "~/.m2/repository/org/spigotmc/spigot/1.21.4-R0.1-SNAPSHOT/spigot-1.21.4-R0.1-SNAPSHOT-remapped-mojang.jar" ]; then cd ~/spigot-buildtools && java -jar BuildTools.jar --rev 1.21.4 --remapped; fi

      - name: Set up Maven Wrapper
        run: mvn --errors --batch-mode --show-version org.apache.maven.plugins:maven-wrapper-plugin:3.3.2:wrapper "-Dmaven=3.9.9"

      - name: Build with Maven
        run: |
          ./mvnw clean package --batch-mode --no-transfer-progress --show-version
          echo "version=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: EzChestShopReborn-${{ env.version }}+${{ github.run_number }}
          path: |
            dist/target/EzChestShopReborn-*.jar
